.logo-img {
  height: 96px;
  width: 96px;
  transition: all 0.3s ease;
}

.logo-text {
  color: #59FC5C;
  font-weight: 200;
}

@media (max-width: 768px) {
  .logo-img {
    height: 72px;
    width: 72px;
  }
}

@media (max-width: 576px) {
  .logo-img {
    height: 48px;
    width: 48px;
  }
}
