.search-container {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.searchbar {
  text-align: center;
  font-size: 16px;
  width: 20%;
  min-width: 250px;
  height: 50%;
  background-color: #ffffffcd;
}

.cross-container {
  height: 100%;
  transition: 0.3s ease;
}

.cross-container img {
  height: 100%;
}
