.navbar {
  background-color: rgb(29, 41, 19);
  height: 15%;
  min-height: 150px;
}

.navlinks a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.navlinks .active {
  color: rgb(89, 252, 92);
  border-bottom: solid 1px white;
}

@media (min-width:901px) {
  a:hover {
    border-bottom: solid 1px white;
  }
} 

@media (max-width: 768px) {
  .navlinks a {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .navlinks a {
    font-size: 0.85rem;
  }
}