.symbol-tag {
    margin-top: -31px;
}

.symbol-text {
    font-size: 12px;
}

.font-weight-300 {
    font-weight: 300;
}
.rank-text{
    color: rgba(0, 0, 0, 0.4);
}


.small-text {
    font-size: 12px;
}